/* LIGHT THEME
========================================================================== */
[data-md-color-scheme="default"] {

    /* TOP HEADER */
    .md-header,
    .md-tabs,
    .md-footer-meta {
        background: var(--darkest-bg) !important;
        color: var(--catppuccin-mocha-text) !important;
    }

    .md-footer-meta {
        border-top: 2px solid var(--catppuccin-mocha-base);
    }

    .md-search-result__meta {
        background-color: var(--darkest-bg);
    }

}

/* DARK THEME
========================================================================== */
[data-md-color-scheme="slate"] {

    /* TOP HEADER */
    .md-header,
    .md-tabs,
    .md-footer-meta {
        background: var(--darkest-bg) !important;
        color: var(--catppuccin-mocha-text) !important;
    }

    .md-footer-meta {
        border-top: 2px solid var(--catppuccin-mocha-base);
    }

    .md-search-result__meta {
        background-color: var(--darkest-bg);
    }
}